*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Lobster', cursive; */
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.containerboss{
    background-color: #55efc4;
    border-radius: 10px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:100px 150px;
}
.per-head{
    width: 30%;
    color: #fff;
    border-right: 3px solid #fff;
}
.input-box{
    display: flex;
    flex-direction: column;
}
.input-box input{
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
}
#btn{
    flex-basis: 30px;
    cursor: pointer;
    background-color: #0fbcf9;
    border: none;
    color: #fff;
}
#btn:hover{
    background-color: #4bcffa;
}
#para{
    padding-bottom: 30px;
    /* width: 40%; */
    text-align: center;
}